<div class="card my-3">
    <div class="container-fluid">
        <div class="row bg-light py-5">
            <div class="col-8 mx-auto">
                <img class="rounded-circle img-fluid pointer" [src]="url + 'get-image-file/' + user.image" *ngIf="user.image" [routerLink]="[ '/profile', user._id] ">
                <img class="rounded-circle img-fluid pointer" src="assets/no_image.jpg" *ngIf="!user.image" [routerLink]="[ '/profile', user._id] ">
            </div>
            <div class="col-12 text-center">
                <h3 class="pointer" [routerLink]="[ '/profile', user._id] ">{{ user.name + ' ' + user.surname}} </h3>
                <span class="text-muted pointer" [routerLink]="[ '/profile', user._id] ">@{{ user.nick }}</span>
                <div class="text-center">
                    <small class="text-muted" *ngIf="follower && user._id !== identity._id">Este usuario te sigue</small>
                    <small class="text-muted" *ngIf="!follower">&nbsp;</small>
                    <button type="button" class="btn btn-outline-primary btn-sm btn-block follow" *ngIf="!follow && user._id !== identity._id" (click)="followUser(user._id)">
                                    <fa-icon [icon]="faUserPlus"></fa-icon>
                                    Seguir
                    </button>
                    <button type="button" class="btn btn-primary btn-sm btn-block follow" *ngIf="follow && user._id != unfollowUserHover && user._id !== identity._id" (mouseenter)="changeUnfollowHover(user._id)">
                                        <fa-icon [icon]="faUserCheck"></fa-icon>
                                        Siguiendo
                    </button>
                    <button type="button" class="btn btn-danger btn-sm btn-block follow" *ngIf="follow && user._id == unfollowUserHover" (mouseleave)="changeUnfollowHover(user._id)" (click)="unfollowUser(user._id)">
                                    <fa-icon [icon]="faUserMinus"></fa-icon>
                                    Dejar de Seguir
                    </button>
                    <h4>
                        <small class="badge badge-dark btn-block follow" *ngIf="user._id == identity._id">
                                <fa-icon [icon]="faUser"></fa-icon>
                                Tú
                        </small>
                    </h4>
                </div>
            </div>

        </div>
        <!--<div class="row mb-2">
            <div class="col-12 py-3">
                <p>BIO</p>
            </div>
        </div> Aqui iría la BIO-->
        <div class="row mb-3 mt-3 justify-content-center" *ngIf="stats">
            <div class="col-sm text-center">
                <i class="fa fa-star"></i> Posts
                <h5 class="text-primary pointer" [routerLink]="[ '/profile', user._id]">{{ stats.publications + newPosts }}</h5>
            </div>
            <div class="col-sm text-center">
                <i class="fa fa-heart"></i> Siguiendo
                <h5 class="text-primary pointer" [routerLink]="[ '/profile', user._id]">{{ stats.following + newFollowing}}</h5>
            </div>
            <div class="col-sm text-center">
                <i class="fa fa-file-o"></i> Seguidores
                <h5 class="text-primary pointer" [routerLink]="[ '/profile', user._id]">{{ stats.followers}}</h5>
            </div>
        </div>
    </div>
</div>