.outlet-containter {
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.item-user {
    margin-top: 10px;
}

.people {
    margin-top: 5px;
}

.pagination-control {
    margin-top: 20px;
}

.follow {
    margin-top: 5px;
}

.yourself {
    cursor: none;
}

.testing {
    border: solid 1px black;
}

.title {
    margin-left: 10px;
}

.card .card-img-top {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    display: inline;
}

.card-body {
    padding: 10px 0px 0px 0px;
}

.card-title {
    margin-bottom: 0px;
}

.card-body {
    margin-left: 15px;
}

.text-muted {
    margin-bottom: 5px;
}

.follow-options {
    padding-left: 5px;
    margin-left: auto;
    margin-top: auto;
    margin-top: 90px;
}

.card-footer {
    padding-top: 0px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: #212529;
}

a h5:hover {
    text-decoration: underline;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 300ms;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}