.outlet-containter {
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.item-user {
    margin-top: 10px;
}

.people {
    margin-top: 20px;
}

.pagination-control {
    margin-top: 20px;
}

.follow {
    margin-top: 5px;
}

.yourself {
    cursor: none;
}