<div class="container-fluid people fade-in">
    <div class="col-lg-12 mr-auto ml-auto">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="card-group people" [className]="option !== 'timeline' ? 'card-group col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12' : 'card-group col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12'" *ngFor="let person of users">
                        <div class="card">
                            <img class="card-img-top img-fluid pointer" [routerLink]="['/profile', person._id]" *ngIf="person.image" [src]="url + 'get-image-file/' + person.image">
                            <img class="card-img-top img-fluid pointer" [routerLink]="['/profile', person._id]" *ngIf="!person.image" src="assets/no_image.jpg">
                            <div class="card-body">
                                <a class="pointer info-link" [routerLink]="['/profile', person._id]">
                                    <h5 class="card-title">{{ person.name + ' ' + person.surname }}</h5>
                                    <p class="text-muted"> @{{ person.nick }}</p>
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <small class="text-muted" *ngIf="followers.indexOf(person._id) >= 0 && person._id != identity._id">Este usuario te sigue</small>
                                <small class="text-muted" *ngIf="followers.indexOf(person._id) < 0">&nbsp;</small>
                                <button type="button" class="btn btn-outline-primary btn-sm btn-block follow" *ngIf="follows.indexOf(person._id) < 0 && person._id != identity._id" (click)="followUser(person._id)">
                                    <fa-icon [icon]="faUserPlus"></fa-icon>
                                    Seguir
                                </button>
                                <button type="button" class="btn btn-primary btn-sm btn-block follow" *ngIf="follows.indexOf(person._id) >= 0 && person._id != unfollowUserHover" (mouseenter)="changeUnfollowHover(person._id)">
                                    <fa-icon [icon]="faUserCheck"></fa-icon>
                                    Siguiendo
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-block follow" *ngIf="follows.indexOf(person._id) >= 0 && person._id == unfollowUserHover" (mouseleave)="changeUnfollowHover(person._id)" (click)="unfollowUser(person._id)">
                                    <fa-icon [icon]="faUserMinus"></fa-icon>
                                    Dejar de Seguir
                                </button>
                                <h4>
                                    <small class="badge badge-dark btn-block follow" *ngIf="person._id == identity._id">
                                        <fa-icon [icon]="faUser"></fa-icon>
                                        Tú
                                    </small>
                                </h4>
                            </div>

                        </div>
                    </div>
                    <nav class="col-sm-12 pagination-control" *ngIf="pages > 1">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" [ngClass]="{'disabled': (page <= 1 || !page)}">
                                <a class="page-link" [routerLink]="['/people', prevPage]" tabindex="-1" [routerLink]="['/people', prevPage]">Anterior</a>
                            </li>
                            <li class="page-item" [ngClass]="{'disabled':page === pages}">
                                <a class="page-link" tabindex="-1" [routerLink]="['/people', nextPage]">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>