.img-user {
    width: 100;
    height: 100px;
}

.outlet-containter {
    margin-top: 20px;
}

.data-container {
    padding-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 150px;
}

.upload {
    padding-left: 0px;
}