<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="identity">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active active-border">
                    <fa-icon [icon]="faHome"></fa-icon>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/timeline']" routerLinkActive="active active-border">
                    <fa-icon [icon]="faNewspaper"></fa-icon>
                    Timeline
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/people']" routerLinkActive="active active-border">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    Personas
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="user-info">
                    <img *ngIf="identity && identity.image" [src]="url + 'get-image-file/' + identity.image" class="rounded user-image pointer">
                </a>
            </li>
            <li class="nav-item user-info">
                <a class="btn" role="button">
                   {{ identity.nick }}
                </a>
            </li>

            <li class="nav-item">
                <div class="btn-group">
                    <div class="dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-lg btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item pointer">Mi Perfil</a>
                                <a class="dropdown-item pointer" [routerLink]="['/datos']">Mis Datos</a>
                                <a class="dropdown-item pointer" (click)="logout()">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent" *ngIf="!identity">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active active-border">
                    <fa-icon [icon]="faSignInAlt"></fa-icon>
                    Iniciar Sesión
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active active-border">
                    <fa-icon [icon]="faUserPlus"></fa-icon>
                    Registrarme
                </a>
            </li>
        </ul>
    </div>

</nav>



<router-outlet></router-outlet>