<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="identity">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">
                    <fa-icon [icon]="faHome"></fa-icon>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faNewspaper"></fa-icon>
                    Timeline
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    Gente
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ identity.nick }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Mi Perfil</a>
                        <a class="dropdown-item" href="#">Mis Datos</a>
                        <a class="dropdown-item pointer" (click)="logout()">Cerrar sesión</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [hidden]="true">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    Imagen Usuario
                </a>
            </li>
        </ul>
    </div>


    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent" *ngIf="!identity">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">
                    <fa-icon [icon]="faSignInAlt"></fa-icon>
                    Iniciar Sesión
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">
                    <fa-icon [icon]="faUserPlus"></fa-icon>
                    Registrarme
                </a>
            </li>
        </ul>
    </div>

</nav>



<router-outlet></router-outlet>