<div class="container-fluid fade-in">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <app-sidebar [userId]="userId" [newPosts]="newPost"></app-sidebar>
        </div>
        <div class="col-lg-7 timeline">
            <ngb-tabset type="pills" activeId="" justify="justified">
                <ngb-tab id="publications-tab">
                    <ng-template ngbTabTitle><b>Publicaciones</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-publication [userId]="userId" (sentPost)="addPost($event)"></app-publication>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="following-tab">
                    <ng-template ngbTabTitle><b>Siguiendo</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-person [option]="'following'" [userId]="userId"></app-person>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="followers-tab">
                    <ng-template ngbTabTitle><b>Seguidores</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-person [option]="'followers'" [userId]="userId"></app-person>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

<!--<app-timeline [userId]="userId"></app-timeline>-->